{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}{{ title }}{% endblock %}
{% block body %}

    <div class="container" style="margin-top: 15px;">
        <!-- Table -->
        <link rel="stylesheet"  href="{% static 'css/easyui.css' %}">
        <script type="text/javascript" src="{% static 'js/jquery.easyui.min.js' %}"></script>
        <table id="dg" class="easyui-datagrid lines-both" title="Log List"
               data-options="singleSelect:true,collapsible:true,fitColumns:true,url:'datagrid_data1.json',method:'get'">
            <thead>
                <tr>
                    <th data-options="field:'sn'">SN</th>
                    <th data-options="field:'sitename'">Site Names</th>
                    <th data-options="field:'remotehost'">Remote Host</th>
                    <th data-options="field:'localip'">Local IP</th>
                    <th data-options="field:'requestmethod'">Request Method</th>
                    <th data-options="field:'status'">Request Status</th>
                    <th data-options="field:'responsetime'">Response Time(ms)</th>
                    <th data-options="field:'size'">Response Bytes</th>
                    <th data-options="field:'url'">URL</th>
                    <th data-options="field:'receivedtime'">Received Time</th>
                </tr>
            </thead>
            <tbody>

            {% for ob in logs %}
                <tr>
                    <td data-options="field:'sn'">{{ forloop.counter }}</td>
                    <td data-options="field:'sitename'">{{ siteName }}</td>
                    <td data-options="field:'remotehost'">{{ ob.remote_host }}</td>
                    <td data-options="field:'localip'">{{ ob.local_ip }}</td>
                    <td data-options="field:'requestmethod'">{{ ob.request_method }}</td>
                    <td data-options="field:'status'">{{ ob.status }}</td>
                    <td data-options="field:'responsetime'">{{ ob.time_us }}</td>
                    <td data-options="field:'size'">{{ ob.response_bytes_clf }}</td>
                    <td data-options="field:'url'">{{ ob.request_url_path }}</td>
                    <td data-options="field:'receivedtime'">{{ ob.time_received_tz_isoformat }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <style type="text/css">
            .lines-both .datagrid-body td{
            }
            .lines-no .datagrid-body td{
                border-right:1px dotted transparent;
                border-bottom:1px dotted transparent;
            }
            .lines-right .datagrid-body td{
                border-bottom:1px dotted transparent;
            }
            .lines-bottom .datagrid-body td{
                border-right:1px dotted transparent;
            }
        </style>
        <div>
            <nav>
                <ul class="pager">
                    <li class="previous">{% if logs.has_previous %}
                        <a href="?page={{ logs.previous_page_number }}"><span aria-hidden="true">&larr;</span> Previous</a>
                    {% endif %}
                    </li>

                    <li class="next">{% if logs.has_next %}
                        <a href="?page={{ logs.next_page_number }}">
                            Next <span aria-hidden="true">&rarr;</span></a>{% endif %}</li>
                </ul>
            </nav>
            <hr>

        </div>

    </div>
{% endblock %}