{% extends 'base.html' %}
{% load i18n %}
{% block title %}{{ title }}{% endblock %}
{% block body %}
    <div class="container" style="margin-top: 15px;">
        <!-- Table -->

        <table class="table table-responsive table-hover table-bordered"  >

            <div class="panel panel-default">
                <div class="panel-body">
                 <form method="GET" class="form-inline">
                    <div class="form-group">

                    <div class="col-md-2 ">
                    <label>From:*</label>
                        <input type="date" class="form-control" name="from" required value="{{request.GET.from}}"/>
                    </div>

                    <div class="col-md-2 ">
                    <label>To:*</label>
                        <input type="date" class="form-control" name="to" required value="{{request.GET.to}}"/>
                    </div>

                    <!--site select box-->

                    <div class="col-md-2">
                    <label>Site:*</label>
                    <select name="site" class="form-control" required>
                        {% for ob in site_list %}
                        <option value={{ ob.id }} {% if request.GET.site == site_id %}selected{% endif %}>{{ ob.site_name  }}</option>
                        {% endfor %}
                    </select>
                    </div>

                <!--method select box-->
                <div class="col-md-2">
                <label>Method:</label>
                <select name="method" class="form-control">
                        <option value="get" {% if request.GET.method == 'get'%}selected{% endif %}>GET</option>
                        <option value="post" {% if request.GET.method == 'post'%}selected{% endif %}>POST</option>
                    </select>
                </div>

                <!--code select box-->
                 <div class="col-md-2">
                 <label>Response Code:</label>
                <select name="code" class="form-control">
                        {% for i in code_list %}
                            <option value={{ i }} {% if request.GET.code == i%}selected{% endif %}>{{ i }}</option>
                        {% endfor %}

                </select>
                 </div>

              </div> <!--form group-->
            <button type="submit" class="btn btn-primary">Filter</button>

            </div>
            </div>

            <thead>
            <tr>
                <th>SN</th>
                <th>Receive Time</th>
                <th>Method</th>
                <th>Response </th>
                <th>Time</th>
                <th>URL</th>
            </tr>
            </thead>
            <tbody>
            {% for ob in logs %}
                <tr>
                    <td>{{forloop.counter }}</td>
                    <td>{{ ob.time_received_tz_isoformat }}</td>
                    <td>{{ ob.request_method }}</td>
                    <td>{{ ob.status }}</td>
                    <td>{{ ob.time_us }}</td>
                    <td>{{ ob.request_url_path }}</td>


                </tr>
            {% endfor %}
            </tbody>

        </table>
        <a href="{% url 'export_xls' %}"><button type="submit" class="btn btn-primary" name="download" value="download">Download as xls</button></a>
    </form>

        <div> <!--pager-->
            <nav>
                <ul class="pager">
                    <li class="previous">{% if logs.has_previous %}
                        <a href="?page={{ logs.previous_page_number }}"><span aria-hidden="true">&larr;</span> Previous</a>
                    {% endif %}
                    </li>

                    <li class="next">{% if logs.has_next %}
                        <a href="?page={{ logs.next_page_number }}">
                            Next <span aria-hidden="true">&rarr;</span></a>{% endif %}</li>
                </ul>
            </nav>
            <hr>

        </div> <!--pager-->

    </div> <!--container-->

{% endblock %}